@{
    ViewData["Title"] = "Privacy";
}
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
</head>
<body>
    <div>
        <div class="display-4 text-center">
            Privacy policy
        </div>
        <p class="font-weight-light text-left" style="margin: auto; width: 50%; font-size:24px">
            JustView is commited to our users' privacy. We <b>DO NOT</b> collect or store any customer information (e.g. names,
            geolocation, users' browser etc.). We also do not share any information with third parties or store any
            Cookies/session data. By using this website, you recognize and confirm that you are 7 years old or older.
        </p>
        <br />
        <br />
        <div class="text-center">
            Licence is due 31.12.2024 © 2024 JustView
        </div>
    </div>
</body>
</html>
